@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 95%;
    --foreground: 215 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 215 10% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 10% 25%;
    --primary: 207 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 16% 90%;
    --secondary-foreground: 215 10% 25%;
    --muted: 210 16% 90%;
    --muted-foreground: 215 10% 45%;
    --accent: 145 63% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 85%;
    --input: 0 0% 100%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 215 10% 25%;
    --sidebar-primary: 207 70% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 16% 90%;
    --sidebar-accent-foreground: 215 10% 25%;
    --sidebar-border: 210 10% 85%;
    --sidebar-ring: 207 70% 53%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 145 63% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 27 87% 67%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 70% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 207 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
